<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/bootstrap.css">
    <link rel="stylesheet" href="/public/bootstrap.js">
    <title>Crear Nuevo </title>
</head>
<body>
    <h1>Crear Nuevo Blog</h1>
    <form method="POST" action="/crear">
        <label for="titulo">Título:</label>
        <input type="text" placeholder="titulo_blog" name="titulo_post">
        <label for="contenido">Contenido:</label>
        <textarea placeholder="Contenido" name="contenido"></textarea>
        <label for="link">link Image:</label>
        <input type="text" name="link">
        <button type="submit">GUARDAR</button>
    </form>
    <form method="GET" action="/">
        <button type="submit">Volver al inicio</button>
    </form>
</body>
</html>
