<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.css">

    <title>Eliminar blog "<%= post.titulo_post %>"</title>
</head>
<body>
    <div class="container">
        <h1 class="titulos-todos">Confirmar Eliminación</h1>
        <p class="mensaje-eliminar">¿Estás seguro de que deseas eliminar el blog <%= post.titulo_post %> ?</p>
        <div class="d-flex">
            <form method="post" action="/post/eliminar/<%= post.id %>">
                <button type="submit" class="btn btn-danger mx-2">Eliminar</button>
            </form>
            
            <form action="/post" method="get">
                <button type="submit" class="btn btn-secondary mx-2">Cancelar</button>
            </form>
        </div>
    </div>
    <script src="/bootstrap.js"></script>
</body>
</html>
