<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.css">

    <title>Eliminar blog "<%= post.titulo_post %>"</title>
</head>
<body>
    <div class="container">
        <h1>Confirmar Eliminación</h1>
        <p>¿Estás seguro de que deseas eliminar el blog "<%= post.titulo_post %>"?</p>
        <form method="POST" action="/eliminar/<%= post.id %>">
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <form method="GET" action="/blog/<%= post.id %>">
            <button type="submit" class="btn btn-secondary">Cancelar</button>
        </form>
    </div>
    <script src="/bootstrap.js"></script>
</body>
</html>
