<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/bootstrap.css">

    <title>Mis Blog </title>
</head>
<body>
  <div class="container">
    <h1 class="titulos-todos">Mis Blogs</h1>
    <ul class="list-group list-group-flush ">
      <% allPosts.forEach((post) => { %>
        <li class="list-group-item list-group-item-action list-group-item-primary border-light">
          <div class="row">
            <div class="col-md-8 " >
              <h2 class="titulo-post"><a  href="post/blog/<%= post.id %>"><%= post.titulo_post %></a></h2>
            </div>
            <div class="col-md-2">
              <form method="get" action="/post/editar/<%= post.id %>">
                <button type="submit" class="btn btn-primary">Editar</button>
              </form>
            </div>
            <div class="col-md-2">
              <form method="get" action="post/eliminar/<%= post.id %>">
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
    <form action="post/crear" method="get">
      <button type="submit" class="btn btn-success">Crear</button>
    </form>
  </div>
  <footer class="bg-dark text-white text-center py-3">
    <p class="mb-0">comision-21648B-Andrea-Soto</p>
</footer>
  <script src="/bootstrap.js"></script>
  
</body>
</html>
